
.nav-bar {
    padding: 20px 0;
  
    top: 0;
    display: flex;
 
    border-radius: 2px 0 12px 2px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-bar button{
    background: transparent;
    font-size: 15px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-bar button:hover{
    background: tomato;
    color: white;
}

.nav-bar .active{
    padding-bottom: 5px;
    border-bottom: 4px solid tomato;
}

.nav-bar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    background-color: 5px;
    top: -8px;
    right: -8px;
    border-radius: 20px 20px 20px 0px;
}

/* making the navbar responsive */

@media (max-width: 1050px) {
    .nav-bar .logo{
        width: 140px;
    }

    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right{
        gap: 30px;
    }

    .navbar-right img{
        width: 22px;
    }

    .navbar-right button{
        padding: 8px 25px;
    }
}



@media (max-width: 900px) {
    .nav-bar .logo{
        width: 120px;
    }

    .navbar-menu{
        gap: 20px;
        font-size: 16px;
    }

    .navbar-right{
        gap: 30px;
    }

    .navbar-right img{
        width: 20px;
    }

    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .nav-bar .logo{
        width: 100px;
    }

    .navbar-menu{
        gap: 18px;
        font-size: 12px;
    }

    .navbar-right{
        gap: 25px;
    }

    .navbar-right img{
        width: 18px;
    }

    .navbar-right button{
        padding: 5px 18px;
        font-size: 14px;
    }
}

@media (max-width: 749px) {
  
    .navbar-menu{
       display: none;
    }

   
}